@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    background-color: darkslategray;
    color: lightgrey;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    margin:20px;
}

h5 {
    font-size: xx-large;
}